<aside>
	<div class="panel radius">
		<h3>What am I doing now?</h3>
		<p>
			The last year has been hectic with COVID, and in that time I've been working on Uni work and learning Japanese. I'll
			likely put out a post at the end of the year about my third year project, and recently I've been looking more into
			writing, so that also might turn up. But even I'm not sure what I'll be working on next, and it'll likely be a while
			before I remember to update this message, so to stay up to date with anything that gets worked on, you can subscribe
			to my mailing list or follow my GitHub.
		</p>
	</div>
</aside>