<aside>
	<div class="panel radius">
		<h3>What am I doing now?</h3>
		<p>
			The lockdown's got me inside and focused on computer stuff more than ever! Exams are coming soon, so I'm mostly working
			on revision for them, but alongside that, I've got more projects than I can remember in the works to some extent. With
			luck, you should be seeing posts on a new Unity game, a QT project, Metro, Linux on Pi and the monthly programming
			language coming out over the next few months. In addition, I'm preparing for my third year project which I'll be excited
			to post the progress of throughout the summer and third year. To stay up to date with anything that gets worked on, you
			can subscribe to my mailing list or follow my GitHub.
		</p>
	</div>
</aside>