<aside>
	<div class="panel radius">
		<h3>What am I doing now?</h3>
		<p>
			Exams are over! The last one was on the 6th June, so now I'm free for the next few months. I still have plans for Metro
			and Linux on Pi going, but the Unity game is on hold for now given the amount of time I have on my hands. In addition,
			I'm preparing for my third year project which I'll be excited to post the progress of throughout the summer and third
			year. To stay up to date with anything that gets worked on, you can subscribe to my mailing list or follow my GitHub.
		</p>
	</div>
</aside>